<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <a class="logo" (click)="scrollToSection('home')">
        <img src="/images/GAT_logo.png" alt="GeoAgriTech Logo" />
      </a>

      <p>Modern drónos permetezési megoldások precíz mezőgazdasági technológiával.</p>
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <h4>Menü</h4>

        <a (click)="scrollToSection('home')">Főoldal</a>
        <a (click)="scrollToSection('services')">Szolgáltatások</a>
        <a (click)="scrollToSection('technology')">Technológia</a>
        <a (click)="scrollToSection('about')">Rólunk</a>
        <a (click)="scrollToSection('contact')">Kapcsolat</a>
        <a href="/adatkezelesi-tajekoztato" target="_blank" rel="noopener noreferrer">
          Adatkezelési tájékoztató
        </a>

        <a href="/cookie-tajekoztato" target="_blank" rel="noopener noreferrer">
          Cookie tájékoztató
        </a>
      </div>

      <div class="footer-column">
        <h4>Kapcsolat</h4>

        <span>+36 20 498 2807</span>
        <span>info@geoagritech.hu</span>
        <span>Magyarország</span>
      </div>
    </div>
  </div>

  <div class="footer-bottom">© 2026 GeoAgriTech. Minden jog fenntartva.</div>
</footer>
