.footer {
  background: rgba(245, 241, 232, 0.85);

  color: (26331d, 0.86);
}

.footer-content {
  max-width: 1400px;
  margin: 0 auto;

  padding: 5rem 8% 3rem;

  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.footer-brand {
  max-width: 420px;
}

.footer-brand h3 {
  margin: 0 0 1rem;

  color: var(--color-primary-dark);

  font-size: 2rem;
}

.footer-brand p {
  line-height: 1.8;

  color: var(--color-primary-dark);
}

.footer-links {
  display: flex;
  gap: 5rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.footer-column h4 {
  margin-bottom: 1rem;

  color: var(--color-primary-dark);
}

.footer-column a,
.footer-column span {
  color: var(--color-primary);

  text-decoration: none;

  transition: 0.3s ease;
}

.footer-column a {
  cursor: pointer;
}

.footer-column a:hover {
  color: var(--color-primary-dark);
}

.footer-bottom {
  padding: 1.5rem;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  text-align: center;

  font-size: 0.95rem;

  color: var(--color-primary-dark);
}

.logo {
  display: inline-block;
  cursor: pointer;
}

.logo img {
  display: block;
}

@media (max-width: 1150px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 700px) {
  .footer-content {
    padding: 4rem 6% 2rem;
  }
}
