<nav class="navbar">
  <div class="navbar-container">
    <a href="home" class="logo"> AgroDrone </a>

    <ul class="nav-menu">
      <li><a (click)="scrollToSection('home')">Főoldal</a></li>
      <li><a (click)="scrollToSection('services')">Szolgáltatások</a></li>
      <li><a (click)="scrollToSection('about')">Rólunk</a></li>
      <li><a (click)="scrollToSection('technology')">Technológia</a></li>
      <li><a (click)="scrollToSection('contact')">Kapcsolat</a></li>
    </ul>

    <a (click)="scrollToSection('contact')" class="cta-btn"> Árajánlat kérése </a>
  </div>
</nav>
